@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css');
@import url('https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css');

@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar{
  width: 0.5rem;
}

::-webkit-scrollbar-thumb{
  background-color: rgba(200, 198, 198, 0.8);
  border: none;
  border-radius: 9999px;
}

::-webkit-scrollbar-track{
  border: none;
  border-radius: 9999px;
}

.input-animation {
  max-width: 0;
  opacity: 0;
  transition: max-width 1s ease, opacity 1s ease;
}

.input-expanded {
  max-width: 200px;
  opacity: 1;
  transition: max-width 1s ease, opacity 1s ease;
}
/* #modal {
  transition: all 5s ease-out;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 80px;
} */
